<footer class="footer">
  <small>
    The <a href="http://www.railstutorial.org/">Fiesto, the College Party App</a>
    by <a href="https://www.facebook.com/its.only.lifee">Kelvin Mei</a>
       <a href="https://www.facebook.com/erie.chai">Erica Chai</a>
       <a href="https://www.facebook.com/vitorm1277/">Vitor Mouzinho</a>
       <a href="https://www.facebook.com/jorden.rabasco">Jorden Rabasco</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>
